.espacio {
	width: 100%;
    margin-top: 75px;
}
.logo{
	width: 30px;
	height: 35px;
}

.home{
	margin:0;
  	padding:0;
  	box-sizing:border-box;
}

.carousel-inner{
	width:100%;
	max-height: 500px !important;
}